*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida', monospace;
    background-color: #E2E2E2;
}

h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

.soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("./img/wallpaper.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40%;
}

.day, .hour, .minute, .second{
    font-size: 3rem;
}
